<%= form_with(model: seat, local: true) do |form| %>
  <% if seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
      <% seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :row %>
    <%= form.text_field :row, id: :seat_row %>
  </div>

  <div class="field">
    <%= form.label :armchair %>
    <%= form.number_field :armchair, id: :seat_armchair %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
