<p id="notice"><%= notice %></p>

<h1>Seats</h1>

<table>
  <thead>
    <tr>
      <th>Row</th>
      <th>Armchair</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.row %></td>
        <td><%= seat.armchair %></td>
        <td><%= link_to 'Show', seat %></td>
      </tr>
    <% end %>
  </tbody>
</table>
