<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.collection_select(:movie_id, Movie.all, :id, :title, { prompt: "Selecione o filme"}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :cinema_id %>
    <%= form.collection_select(:cinema_id, Cinema.all, :id, :name, { prompt: "Selecione o cinema"}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, id: :session_start_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
