<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Cinema</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.movie.title %></td>
        <td><%= session.cinema.name %></td>
        <td><%= session.start_time.strftime("%H:%M") %></td>
        <td><%= button_to 'Show', session, method: :get, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
