<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>
    <strong>Filme:</strong>
    <%= @session.movie.title %>
  </p>

  <h3>
    <strong>Cinema:</strong>
    <%= @session.cinema.name %>
  </h3>

  <h3>
    <strong>Hora de início:</strong>
    <%= @session.start_time.strftime("%H:%M") %>
  </h3>

  <h4>Escolha seu lugar:</h4>

  <%= render "sales/form", sale: @sale, session: @session %>
  <%= link_to 'Back', sessions_path %>
</div>
