<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table class ="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Age rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.age_rating %></td>
        <td><%= button_to 'Show', movie, method: :get, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
