<p id="notice"><%= notice %></p>

<main class="ptb100">
  <div class="container">

    <!-- Start of Movie List -->
    <div class="row">
      <!-- Movie List Item -->
      <% @movie.sessions.each do |session| %>
        <div class="col-md-12 col-sm-12">
          <div class="movie-list-1 mb30">
            <div class="listing-container">

              <!-- Movie List Image -->
              <div class="listing-image">

                <!-- Play Button -->
                <div class="play-btn">
                  <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                    <i class="fa fa-play"></i>
                  </a>
                </div>

                <!-- Buttons -->
                <div class="buttons">
                  <a href="#" data-original-title="Rate" data-toggle="tooltip" data-placement="bottom">
                    <i class="icon-heart"></i>
                  </a>

                  <a href="#" data-original-title="Share" data-toggle="tooltip" data-placement="bottom">
                    <i class="icon-share"></i>
                  </a>
                </div>

                <!-- Rating -->
                <div class="stars">
                  <div class="rating">
                    <strong>
                      Início da sessão às <%= session.start_time_br %> h
                    </strong>
                  </div>
                </div>

                <!-- Image -->
                <img src="assets/images/posters/poster-1.jpg" alt="">
              </div>

              <!-- Movie List Content -->
              <div class="listing-content">
                <div class="inner">
                  <h2 class="title"><%= @movie.title %></h2>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


                  <%= link_to 'Comprar ingresso', session, method: :get, class: "btn btn-main btn-effect" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- End of Movie List -->

  </div>
</main>
