<div class="container">
  <h2>Histórico</h2>

  <div class="row">
    <% current_user.sales.each do |sale| %>
    <% next if sale.payment.nil? %>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">
          Compra em <%= sale.created_at.strftime("%d/%m/%Y") %>. R$ <%= sale.payment.total * sale.payment.parcels %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= sale.session.movie.title %></h5>
          <p class="card-text">
            <%= sale.seats.count %> ingressos
          </p>
          <%= link_to "Ingressos", sale.payment, class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted">
          <%= sale.session.cinema.name %>,
          <%= sale.created_at.strftime("%d/%m/%Y, %h:%M") %>
        </div>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
