

<h1> Administration </h1>

<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.role.humanize %></td>
        <td><%= current_user.email %></td>
      </tr>
  </tbody>

  <ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie %></li>
    <% end %>
  </ul>

<h3>Mais assistidos</h3>
  <ul>
    <% @movies_watched.each do |movie_w| %>
      <li><%= movie_w.title %> - <%= movie_w.highest %> vezes</li>
    <% end %>
  </ul>
</table>
