<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ingresso!</title>
  </head>
  <body>
    Olá! Aqui estão as informações da sua compra:

    <h3><%= @movie.title %> </h3>
    <ul>
      <% @payment.sale.seats.each do |seat| %>
        <li>Poltrona: <strong><%= seat.name%></strong></li>
      <% end %>
    </ul>
    <p>Sua sessão começa às <%= @payment.sale.session.start_time_br %></p>
  </body>
</html>
