Ingresso!
Olá! Aqui estão as informações da sua compra:

Filme: <%= @movie.title %>
  <%= @payment.sale.seats.each do |seat| %>
    Poltrona: <%= seat.name%>
  <% end %>

Sua sessão começa às <%= @payment.sale.session.start_time_br %>
