<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :ticket_value %>
  </div>

  <div class="field">
    <%= form.label :half_value %>
    <%= form.text_field :half_value, id: :ticket_half_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
