<div class="container">
  <h1>Pagamento</h3>
    <h4>Valor total: R$ <span id="total_value"><%= @sale.session.ticket.value.to_f * @sale.seats.count %></span></h4>

    <h3>
      <%= @sale.session.movie.title %>
      <strong>
        <%= @sale.session.start_time_br %>
      </strong>
    </h3>

    <%= form_for @payment do |f| %>
    <div class="total_payment">
      <!-- <input type="hidden" id="value" name="value" value=""> -->
      <%= f.hidden_field :total, id: "value" %>
      <%= f.hidden_field :sale_id, value: @sale.id %>
      <% @sale.seats.each_with_index do |seat, index| %>


      <p>
        <%= seat.name %>
        <input type="radio" name="payment[ticket_type][<%= index %>]" value="<%= @sale.session.ticket.value %>" checked>
        <%= f.label "Inteira" %>
        <input type="radio" name="payment[ticket_type][<%= index %>]" value="<%= @sale.session.ticket.half_value %>">
        <%= f.label "Meia" %>
      </p>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group method_select">
          <%= f.label :payment_method %>
          <%= f.select :payment_method, [['À vista', :cash], ['Crédito', :credit], ['Débito', :debit]], class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group parcel_field invisible">
          <%= f.label :parcels %>
          <%= f.select :parcels, [['1 vez', 1], ['2 vezes', 2]], class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Finalizar compra", class: "btn btn-primary" %>
    </div>
    <% end %>

</div>

<script>
$(document).ready(function() {

  // let total = 0;
  $("#value").val(get_total());

  function get_total() {
    let tot = 0;
    let rb = $(".total_payment input:checked");
    for (var i = 0; i < rb.length; i++) {
      tot += parseFloat(rb[i].value);
    }
    return tot;
  }

  $(".total_payment").on("change",() => {
    let rb = $(".total_payment input:checked");
    var total = get_total();
    console.log(total)
    $("#value").val(total);
    $("#total_value").text(total.toFixed(2));
    console.log(`total: ${total}`);
  });

  $(".method_select select, .total_payment").on("change", function() {
    console.log('mudou');
    let option = $(".method_select option:selected")[0].value;
    var total = get_total();
      if (option == 'credit' && total >= 30) {
        $(".parcel_field").removeClass("invisible");
      } else {
        $(".parcel_field").addClass("invisible");
      }
      console.log(`selecionado: ${$(".method_select option:selected")[0].value}`);
  });
});

</script>
