<div class="container">
  <h3>Ingresso</h3>
  <br>

  <div class="row">
    <% @payment.sale.seats.each do |seat| %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Ingresso - <%= @payment.created_at.strftime("%d/%m/%Y") %> -
            Cadeira: <strong><%= seat.name %></strong>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= @movie.title %></h5>
            <p class="card-text">Idade mínima: <%= @movie.age_rating %> anos.</p>
          </div>
          <div class="card-footer text-muted">
            <%= @payment.sale.session.cinema.name%>, <%= @payment.sale.session.cinema.address %>
          </div>
        </div>
        <br>
      </div>
      <br>
    <% end %>

  </div>
</div>
