/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require colors
 *= require settings
 *= require layers
 *= require navigation
 *= require magnific-popup
 *= require jquery.mmenu
 *= require owl.carousel.min
 *= require style
 *= require responsive
 */




.disabled-true {
  color: red;
}

.checkbox_wrapper{
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.checkbox_wrapper input[type="checkbox"] {
    opacity:0;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.checkbox_wrapper input[type="checkbox"] + label{
    // background:url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png') no-repeat;
    background-color: #483d74;
    color: #ffffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 13px 0px 0px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox_wrapper input[type="checkbox"]:checked + label{
    // background:url('https://cdn.icon-icons.com/icons2/1199/PNG/512/1490971320-map-icons-1_82743.png') no-repeat;
    background-color: #aa4566;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 13px 0px 0px 15px;
}

.checkbox_wrapper input[type="checkbox"]:disabled + label {
  background-color: #676767;
}
//
// .check_chair input[type="checkbox"] {
//   display: none !important;
// }
//
// .check-chair input[type="checkbox"] {
//   background: url('http://downloadicons.net/sites/default/files/cinema20-85330.png') no-repeat !important;
//   width:20px !important;
//   height: 20px !important;
// }
// .check-chair input[type="checkbox"]:checked + label {
//   background: url('http://downloadicons.net/sites/default/files/cinema20-85330.png');
//   width: 20px;
//   height: 20px;
// }
