  <% sale.errors.full_messages.each do |message| %>
  <div class="alert alert-danger fade in alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
    <%=message%>
  </div>
  <% end %>


  <%= form_for sale do |f| %>
  <% session.seats.in_groups_of(4) do |seats| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :session_id, value: session.id %>
  <div class="row">
    <!-- <div class="col-md-offset-2">

    </div> -->

    <!-- </div> -->
    <% seats.each do |seat| %>
    <div class="col-md-3">
      <div class="checkbox_wrapper">
        <%= f.check_box :seat_ids, { multiple: true, disabled: session.sales.map {|sale| sale.seat_ids.include? seat.armchair}.any? }, seat.id, nil %>
        <%= label_tag "sale_seat_ids_#{seat.id}", seat.name, class: "disabled-#{session.sales.map {|sale| sale.seat_ids.include? seat.armchair}.any? }" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <%= f.submit "Finalizar", class: "btn btn-primary" %>
  <% end %>
