<p id="notice"><%= notice %></p>

<h1>Cinemas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.name %></td>
        <td><%= cinema.address %></td>
        <td><%= button_to 'Show', cinema, method: :get, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
