<!-- =============== START OF UPCOMING MOVIES SECTION =============== -->
<section class="upcoming-movies parallax ptb100" data-background="assets/images/posters/movie-collection.jpg" data-color="#3e4555" data-color-opacity="0.95" >
    <div class="container">

        <!-- Start of row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title text-white">Confia nosso ranking</h2>
            </div>
        </div>
        <!-- End of row -->

=

    </div>
</section>
<!-- =============== END OF UPCOMING MOVIES SECTION =============== -->




<!-- =============== START OF LATEST TV SHOW SECTION =============== -->
<section class="latest-tvshows ptb100">
    <div class="container">

        <!-- Start of row -->
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 class="title">Mais assistidos</h2>
            </div>

        </div>
        <!-- End of row -->


        <!-- Start of Latest Movies Slider -->
        <div class="owl-carousel latest-tvshows-slider mt20">

          <% @movies_watched.each do |moviee| %>
            <!-- === Start of Sliding Item 1 === -->
            <div class="item">
              <!-- Start of Movie Box -->
              <div class="movie-box-1">

                <!-- Start of Poster -->
                <div class="poster">
                  <img src="assets/images/posters/poster-5.jpg" alt="">
                </div>
                <!-- End of Poster -->

                <!-- Start of Buttons -->
                <div class="buttons">
                  <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                    <i class="fa fa-play"></i>
                  </a>
                </div>
                <!-- End of Buttons -->

                <!-- Start of Movie Details -->
                <div class="movie-details">
                  <h4 class="movie-title">
                    <a href="#"><%= moviee.title %></a>
                  </h4>
                  <span class="released"><%= moviee.highest %> vezes</span>
                </div>
                <!-- End of Movie Details -->

                <!-- Start of Rating -->
                <div class="stars">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                  </div>
                  <span><%= (rand * 10).round(1) %> / 10</span>
                </div>
                <!-- End of Rating -->

              </div>
              <!-- End of Movie Box -->
            </div>
            <!-- === End of Sliding Item 1 === -->
          <% end %>

        </div>
        <!-- End of Latest Movies Slider -->

    </div>
</section>
<!-- =============== END OF LATEST TV SHOW SECTION =============== -->
