<!-- =============== START OF LATEST MOVIES SECTION =============== -->
<section class="latest-movies ptb100">
  <div class="container">

    <!-- Start of row -->
    <div class="row">
      <div class="col-md-8">
        <h2 class="title">Últimos filmes</h2>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of Latest Movies Slider -->
    <div class="owl-carousel latest-movies-slider mt20">

      <% @movies.each do |movie| %>
        <!-- === Start of Sliding Item 1 === -->
        <div class="item">
          <!-- Start of Movie Box -->
          <div class="movie-box-1">

            <!-- Start of Poster -->
            <div class="poster">
              <img src="assets/images/posters/poster-1.jpg" alt="">
            </div>
            <!-- End of Poster -->

            <!-- Start of Buttons -->
            <div class="buttons">
              <a href="https://www.youtube.com/watch?/v=Q0CbN8sfihY" class="play-video">
                <i class="fa fa-play"></i>
              </a>
            </div>
            <!-- End of Buttons -->

            <!-- Start of Movie Details -->
            <div class="movie-details">
              <h4 class="movie-title">
                <%= link_to movie.title, movie %>
              </h4>
              <span class="released"><%= movie.created_at.strftime("%d/%m/%Y") %></span>
            </div>
            <!-- End of Movie Details -->

            <!-- Start of Rating -->
            <div class="stars">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <span><%= (rand * 10).round(1) %>
                / 10</span>
            </div>
            <!-- End of Rating -->

          </div>
          <!-- End of Movie Box -->
        </div>
        <!-- === End of Sliding Item 1 === -->
      <% end %>
    </div>
    <!-- End of Latest Movies Slider -->

  </div>
</section>
<!-- =============== END OF LATEST MOVIES SECTION =============== -->
