<!-- =============== START OF HEADER NAVIGATION =============== -->
<!-- Insert the class "sticky" in the header if you want a sticky header -->
<header class="header header-fixed header-transparent text-white">
    <div class="container-fluid">

        <!-- ====== Start of Navbar ====== -->
        <nav class="navbar navbar-expand-lg">

            <%= link_to root_url, class: "navbar-brand" do %>
              <%= image_tag "logo.svg", alt: "Logo", width: "150", class: "logo" %>
              <%= image_tag "logo-white.svg", alt: "White logo", width: "150", class: "logo-white" %>
            <% end %>

            <button id="mobile-nav-toggler" class="hamburger hamburger--collapse" type="button">
               <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
               </span>
            </button>

            <!-- ====== Start of #main-nav ====== -->
            <div class="navbar-collapse" id="main-nav">

                <!-- ====== Start of Main Menu ====== -->
                <ul class="navbar-nav mx-auto" id="main-menu">
                    <!-- Menu Item -->
                    <li class="nav-item">
                        <%= link_to "Home", root_url, class: "nav-link" %>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contate-nos</a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                      <% if user_signed_in? %>
                        <%= link_to "Histórico", history_path, class: "nav-link" %>
                      <% end %>
                        <!-- <a class="nav-link" href="#">Histórico de compras</a> -->
                    </li>

                </ul>
                <!-- ====== End of Main Menu ====== -->


                <!-- ====== Start of Extra Nav ====== -->
                <ul class="navbar-nav extra-nav">

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link toggle-search" href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item notification-wrapper">
                        <a class="nav-link notification" href="#">
                            <i class="fa fa-globe"></i>
                            <span class="notification-count">2</span>
                        </a>
                    </li>

                    <!-- Menu Item -->
                    <% unless user_signed_in? %>
                      <li class="nav-item m-auto">
                          <a href="#login-register-popup" class="btn btn-main btn-effect login-btn popup-with-zoom-anim">
                              <i class="icon-user"></i>login
                          </a>
                      </li>
                    <% end %>

                    <% if user_signed_in? %>
                    <li class="nav-item">
                      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"btn btn-main btn-effect login-btn popup-with-zoom-anim" %>
                    </li>
                    <% end %>

                </ul>
                <!-- ====== End of Extra Nav ====== -->

            </div>
            <!-- ====== End of #main-nav ====== -->
        </nav>
        <!-- ====== End of Navbar ====== -->

    </div>
</header>
<!-- =============== END OF HEADER NAVIGATION =============== -->
