<!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->
<section id="slider" class="full-slider">
  <div class="rev-slider-wrapper fullscreen-container overlay-gradient">
    <div id="fullscreen-slider" class="rev_slider fullscreenbanner" style="display:none" data-version="5.4.1">
      <ul>

        <!-- ===== SLIDE NR. 1 ===== -->
        <li data-transition="fade">
          <!-- MAIN IMAGE -->
          <img src="assets/images/slider/slider1.jpg" alt="Image" title="slider-bg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption tp-resizeme"
            data-x="center"
            data-hoffset=""
            data-y="middle"
            data-voffset="['-30','-30','-30','-30']"
            data-responsive_offset="on"
            data-fontsize="['60','50','40','30']"
            data-lineheight="['60','50','40','30']"
            data-whitespace="nowrap"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            style="z-index: 5; color: #fff; font-weight: 900;">IMAX 5D PLUS PLUS
          </div>
        </li>

        <!-- ===== SLIDE NR. 2 ===== -->
        <li data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="2000">
          <!-- MAIN IMAGE -->
          <img src="assets/images/slider/slider2.jpg" alt="Image" title="slider-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption tp-resizeme"
            data-x="center"
            data-hoffset=""
            data-y="middle"
            data-voffset="['-30','-30','-30','-30']"
            data-responsive_offset="on"
            data-fontsize="['60','50','40','30']"
            data-lineheight="['60','50','40','30']"
            data-whitespace="nowrap"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            style="z-index: 5; color: #fff; font-weight: 900;">RESOLUÇÃO ULTRA HD
          </div>
        </li>

        <!-- ===== SLIDE NR. 3 ===== -->
        <li data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="2000">
          <!-- MAIN IMAGE -->
          <img src="assets/images/slider/slider3.jpg" alt="Image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina="data-no-retina">
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption tp-resizeme"
            data-x="center"
            data-hoffset=""
            data-y="middle"
            data-voffset="['-30','-30','-30','-30']"
            data-responsive_offset="on"
            data-fontsize="['60','50','40','30']"
            data-lineheight="['60','50','40','30']"
            data-whitespace="nowrap"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            style="z-index: 5; color: #fff; font-weight: 900;">ÚLTIMOS FILMES E SÉRIES
          </div>
        </li>

      </ul>
    </div>
  </div>
  <!-- ===== END OF REV SLIDER WRAPPER ===== -->
</section>
