<!DOCTYPE html>
<html>
  <head>
    <title>Popcorn Land</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon" %>
    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render "layouts/preloader" %>
    <%= render "layouts/responsive_nav" %>
    <div class="wrapper">
        <%= render "layouts/navbar" %>
        <%= render "layouts/slider" %>
        <%= yield %>
        <%= render "layouts/footer" %>

    </div>
    <%= render "layouts/login_and_signup" %>
    <%= render "layouts/notify" %>
  </body>
</html>
