<!-- <h2>Sign up</h2> -->
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="status">
    <%= devise_error_messages! %>
  </p>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birth_date %><br />
    <%= f.date_field :birth_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role %><br />
    <%= f.label :role, "Client", :value => "client"  %>
    <%= f.radio_button :role, :client %>
    <%= f.label :role, "Student", :value => "student" %>
    <%= f.radio_button :role, :student %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-main btn-effect nomargin" %>
  </div>
  <% end %>

  <% render "users/shared/links" %>
</div>
